body {
	margin: 0px;
	padding: 0px;
	background-color: #009651;
}

.wrap {
	width: 100%;
	height: 500px;
	margin-top: -20px;
	background-color: #009688;
}

.wrap h1 {
	text-align: center;
	color: white;
	padding-top: 200px;
}

.wrap a {
	width: 180px;
	margin-top: 30px;
	margin-left: 600px;
	font-size: 26px;
}

.events {
	width: 100%;
	height: 680px;
	background-color: #009651;
}

.events h2 {
	width: 390px;
	padding: 20px;
	margin-left: 480px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: white;
	background-color: #00796B;
}

.caption {
	text-align: center;
}

.login, .content {
	width: 100%;
	height: 470px;
	background-color: #009651;
}

.login h1 {
	width: 420px;
	padding: 20px;
	margin-left: 480px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.login_form {
	width: 370px;
	height: 330px;
	margin-left: 500px;
	border-radius: 15px;
	background-color: #e3e3e3;
}

input[type="text"], input[type="password"] {
	margin-top: 30px;
	width: 330px !important;
	height: 60px;
	font-size: 20px;
}

input[type="submit"] {
	width: 330px;
	height: 50px;
	font-size: 24px;
	margin-top: 30px;
}

#searchBar {
	width: 300px !important;
	height: 34px !important;
	margin-top: 0px;
	margin-right: -4px;
}

#searchButton {
	width: 100px !important;
	height: 34px !important;
	font-size: 12px;
	margin-top: 0px;
	margin-right: -4px;
}

#ok {
	width: 80px !important;
	height: 34px !important;
	font-size: 12px;
}

.register_form {
	width: 370px;
	height: 480px;
	margin-left: 500px;
	border-radius: 15px;

	background-color: #e3e3e3;
}

#inputField {
	width: 100% !important;
	height: 50px !important;
	margin-top: 30px;
	margin-bottom: 15px;
}

#registerField {
	width: 100% !important;
	height: 36px !important;
	margin-top: 24px;
}

.form-group {
	/**/
}

.footer {
	width: 100%;
	height: 100px;
	color: white;
	background-color: #009688;
}

.footer h3 {
	padding-top: 40px;
	padding-left: 40px;
}
